<!doctype html>
<html lang="en">

<head>
	<title>Sunflower</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Nguyễn Huỳnh Thảo Nhi gửi tin nhắn cho bạn</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>Còn 5 đơn hàng đang chờ xử lí</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Lâm Vân Thanh gửi tin nhắn cho bạn</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Huỳnh Thanh Hiền gửi tin nhắn cho bạn</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Nike Air Jordan: sản phẩm hết hàng</a></li>
								<li><a href="#" class="more">Xem thông báo khác</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Anh Thư</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>Thông tin cá nhân</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Tin nhắn</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Cài đặt</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Đăng xuất</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/" class="active"><i class="lnr lnr-home"></i> <span>Trang chủ</span></a></li>
						<li><a href="usermanagement" class=""><i class="lnr lnr-code"></i> <span>Quản lí người dùng</span></a></li>
						<li><a href="productmanagement" class=""><i class="lnr lnr-dice"></i> <span>Quản lí sản phẩm</span></a></li>
						<li>
							<a href="#subPagess" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Quản lí đơn hàng</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPagess" class="collapse ">
								<ul class="nav">
									<li><a href="ordercomplete" class="">Đơn hàng đã giao</a></li>
									<li><a href="orderpending" class="">Đơn hàng chưa giao</a></li>
									<li><a href="orderdelivering" class="">Đơn hàng đang giao</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Thống kê</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="salestatistic" class="">Thống kê doanh số</a></li>
									<li><a href="bestsellerstatistic" class="">Thống kê best-sellers</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES  -->
							<div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header d-block">
                                        <h3>QUẢN LÍ SẢN PHẨM</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="dt-responsive">
                                            <table id="simpletable"
                                                   class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Nhà cung cấp</th>
                                                    <th>Số lượng đã bán</th>
                                                    <th>Gía bán</th>
                                                    <th>Tình trạng</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763677</td>
                                                        <td>Nike Air Jordan</td>
                                                        <td>SuperSports</td>
                                                        <td>720</td>
                                                        <td>55$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763678</td>
                                                        <td>Converse All Star</td>
                                                        <td>PlanetSports</td>
                                                        <td>280</td>
                                                        <td>70$</td>
                                                        <td>Cháy hàng</td>
                                                    </tr>
                                                                                                        <tr>
                                                        <td>763679</td>
                                                        <td>Vans Old Skool</td>
                                                        <td>SuperSports</td>
                                                        <td>100</td>
                                                        <td>65$</td>
                                                        <td>Còn hàng</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Nhà cung cấp</th>
                                                    <th>Số lượng đã bán</th>
                                                    <th>Gía bán</th>
                                                    <th>Tình trạng</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
							<!-- END RECENT PURCHASES -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script src="assets/scripts/datatables.js"></script>
	<script src="assets/scripts/jquery.dataTables.min.js"></script>
    <script src="assets/scripts/dataTables.bootstrap4.min.js"></script>

	
</body>

</html>
